<div style="width: 90%;margin-left: auto;margin-right: auto">
    <h1>Liste des Rendez-vous</h1>
    <button (click)="add()" class="btn btn-primary" data-bs-target="#exampleModal" data-bs-toggle="modal" type="submit">Ajouter</button>

    <table class="table table-striped table-hover">
        <thead style="background-color: #c7621e; color: whitesmoke">
            <tr>
                <th scope="col" style="width: 45px">#</th>
                <th scope="col">date</th>
                <th scope="col">duree</th>
                <th scope="col">type</th>
                <th scope="col">note</th>
                <th scope="col">patient</th>
                <th scope="col" style="width: 220px">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rdv of rdvs">
                <td class="align-middle" style="width: 60px" text="">{{rdv.id}}</td>
                <td class="align-middle" text="">{{rdv.date | date: 'HH:mm EEEE dd MMMM YYYY' : 'FR'}}</td><!--| date:'medium' | date:'shortTime | date: 'dd/MM/yyyy a HH:mm'' -->
                <td class="align-middle" text="">{{rdv.duree}} mn</td>
                <td class="align-middle" text="">{{rdv.type}}</td>
                <td class="align-middle" text="">{{rdv.note}}</td>
                <td class="align-middle" text="">{{rdv.patient?.nom}}</td>
                <td>
                    <div aria-label="Toolbar with button groups" class="btn-toolbar" role="toolbar">
                        <button (click)="edit(rdv.id)" id="edit" class="btn btn-outline-primary" type="submit" 
                            data-bs-target="#exampleModal" data-bs-toggle="modal">Modifier</button>
                        <button (click)="delete(rdv.id)" class="btn btn-outline-danger" >Supprimer</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal Bootstrap  For new Rendez-vous -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div  class="modal-dialog" role="document">
        <form name="rdvForm" (submit)="submitForm()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"
                        text="Rendez-Vous"></h5>
                    <button #closeaction type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="rdvFields">
                        <div class="mb-3">
                            <label for="patient" class="form-label">Patient</label>
                            <h5 *ngIf="!newRdv" class="modal-title" id="exampleModalLabel" text=""><small>"{{newr.patient?.prenom}} {{newr.patient?.nom}}"</small></h5>
                            <select *ngIf="newRdv" name="patient" id="patient" [(ngModel)]="newp.id" required class="form-select">
                                <option *ngFor="let patient of patients" [ngValue]="patient.id" [text]="patient.prenom+' ' +patient.nom">{{patient.id}}</option>
                            </select>
                        </div>
            
                        <div class="mb-3">
                            <label for="cp" class="form-label">Date</label>
                            <div class="row">
                                <div class="col-8">
                                    <input type="date" name="datev" class="form-control" required
                                        value="" [(ngModel)]="d">
                                </div>
                                <div class="col-4">
                                    <input type="time" name="timev" class="form-control" required
                                        value="" [(ngModel)]="h">
                                </div>
                            </div>
                        </div>
            
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="typerdv"
                                    id="flexRadioDefault1" checked value="consultation"
                                    [(ngModel)]="newr.type"> <label
                                    class="form-check-label" for="flexRadioDefault1">
                                    Consultation </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="typerdv"
                                    id="flexRadioDefault2" value="controle"
                                    [(ngModel)]="newr.type"> <label
                                    class="form-check-label" for="flexRadioDefault2"> Contrôle
                                </label>
                            </div>
                        </div>
            
                        <div class="mb-3">
                            <label for="cp" class="form-label">Durée</label> <input
                                type="number" name="duree" class="form-control" placeholder="Durée"
                                required [(ngModel)]="newr.duree">
            
                        </div>
            
                        <div class="mb-3">
                            <div class="form-floating">
                                <textarea class="form-control" name="note"
                                    placeholder="Veuillez saisir vos notes ici" id="note"
                                    style="height: 100px" [(ngModel)]="newr.note"></textarea>
                                <label for="note">Note</label>
                            </div>
                        </div>
            
                    </div>
                </div>
            
                <div class="modal-footer justify-content-between">
                    <button type="submit" class="btn btn-secondary">Valider</button>
                    <button type="reset" class="btn btn-danger">Annuler</button>
                </div>
        </div>
        </form>
    </div>
</div>